<%- include("../../includes/header") %>
</div>
<div class="container mt-4" style="min-height: 700px;">
    <div class="row">
        <div class="col-md-12">
            <h3>Teacher Update Page</h3>
            <form action="/teacher/update/<%= result._id %>" method="post">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card border border-primary my-4">
                        <div class="card-header bg-primary text-light"><h4>Update Teacher</h4></div>
                    
                        <div class="card-body">
                            <div class="form-group">
                                <label>Full Name</label>
                                <input value="<%= result.fullname %>" type="text" name="fullname" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Education</label>
                                <br />
                                <select class="form-control" name="education">
                                    <option>Select</option>
                                    <option <% if(result.education=='Bachelor'){ %> selected  <% } %> >Bachelor</option>
                                    <option <% if(result.education=='Master'){ %> selected  <% } %> >Master</option>
                                    <option <% if(result.education=='P.Hd.'){ %> selected  <% } %>>P.Hd.</option>
                                    <option <% if(result.education=='M.Phil'){ %> selected  <% } %>>M.Phil</option>
                                    
                                </select>
                            </div>
                            <br />
                            <br />
                            <div class="form-group">
                                <label>Salary</label>
                                <input value="<%= result.salary %>" type="text" name="salary" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>City</label>
                                <br />
                                <select class="form-control" name="city">
                                    <option>Select</option>
                                    <option <% if(result.city =='Indore'){ %> selected <% } %>>Indore</option>
                                    <option <% if(result.city =='Mumbai'){ %> selected <% } %>>Mumbai</option>
                                    <option <% if(result.city =='Pune'){ %> selected <% } %>>Pune</option>
                                    <option <% if(result.city =='Delhi'){ %> selected <% } %>>Delhi</option>
                                    
                                    
                                </select>
                            </div>
                            <br />
                            <br />
                            <div class="form-group">
                                <label>Address</label>
                                <textarea name="address" class="form-control" ><%= result.address %></textarea>
                            </div>
                            <br />
                            <div class="form-group">
                                <label>Gender</label>
                                <br />
                                Male <input type="radio" <% if(result.gender=='male'){ %> checked <% } %> value="male" name="gender"  />
                                Female <input type="radio" <% if(result.gender=='female'){ %> checked <% } %> value="female" name="gender"  />
                            </div>
                            <div class="form-group">
                                <label>Hobbies</label>
                                <br />
                                Cricket <input type="checkbox" <% if(result.hobby.indexOf('cricket') != -1) {%> checked <% } %> name="hobby" value="cricket"/>
                                Football <input type="checkbox" <% if(result.hobby.indexOf('football') != -1) {%> checked <% } %> name="hobby" value="football"/>
                                Music <input type="checkbox" <% if(result.hobby.indexOf('music') != -1) {%> checked <% } %> name="hobby" value="music"/>
                                Internet <input type="checkbox" <% if(result.hobby.indexOf('internet') != -1) {%> checked <% } %> name="hobby" value="internet"/>
                            </div>
                            
                        </div>
                        <div class="card-footer">
                            <input type="submit" class="btn btn-success" value="Update" />
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
<%- include("../../includes/footer") %>