<%- include("../../includes/header") %>
<div class="container" style="min-height: 700px;">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h3>List of All Employee</h3>
            <table class="table-dark table table-hover">
                <tr>
                    <th>
                        S.No.
                    </th>
                    <th>
                       Full Name
                    </th>
                    <th>
                        Salary
                    </th>
                    <th>
                        City
                    </th>
                    <th>
                        Update
                    </th>
                    <th>
                        Delete
                    </th>
                </tr>
                <% result.forEach((x, n)=>{ %>
                    <tr>
                        <td><%= n+1 %></td>
                        <td><%= x.fullname %></td>
                        <td><%= x.salary %></td>
                        <td><%= x.city %></td>
                        <td><a href="/employee/edit/<%= x._id %>" class="btn btn-sm btn-info">Edit</a></td>
                        <td><a href="/employee/delete/<%= x._id %>" class="btn btn-sm btn-danger">Delete</a></td>
                    </tr>
                <% }) %>

            </table>

        </div>
    </div>
</div>