<%- include("../includes/header") %>

            <div class="container" style="min-height: 700px;">
                <h1>Teacher Page</h1>
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <table class="table table-dark table-borderd table-hover table-striped">
                            <tr>
                                <th>S.No.</th>
                                <th>Name</th>
                                <th>Age</th>
                                <th>City</th>
                            </tr>
                            <% teacher.forEach((x, n)=>{ %>
                                <tr>
                                    <td><%= n+1 %></td>
                                    <td><%= x.name %></td>
                                    <td><%= x.age %></td>
                                    <td><%= x.city %></td>
                                </tr>
                            <% }) %>

                        </table>
                    </div>
                </div>
            </div>
<%- include("../includes/footer") %>